@charset "UTF-8";
*{margin:0;padding:0;}
body{font-family: "苹方";background:#fff;}
.clearfix:after{content: "";height: 0;visibility: hidden;display: block;clear:both;}
.fl{float:left;}
.fr{float:right;}
.tou{height:88px;background:#231815;width:100%;margin:0 auto;}
.tou img{margin-top:21px;margin-left:28px;}
.tou p{height:88px;line-height:88px;color:#fff;font-size:34px;text-align: center;}
/*头部分结束*/
.tish1{height:640px;width:100%;margin:0 auto;background: #fff;}
.tish1 img{width:80px;height:80px;display:block;margin:0 auto;padding-top:180px;padding-bottom:30px;}
.tish1 p{font-size: 32px;text-align: center;color:#666;}
.tish1 .baoq{font-weight: bold;color:#333;line-height:55px;}
.qd{margin-left:28px;margin-right:28px;height:90px;line-height:90px;text-align: center;color:#fff;background:#f58800;font-size: 38px;border-radius:10px;}